{% extends "header.html" %} {% block title %}{{ object.title }}{% endblock %} {% block content %}
<article class="media content-section container">
    <div class="media-body">
        <div class="article-metadata">
            <h2 class="article-title">{{ object.title }}</h2>
            {% if object.user == user %}
            <div>
                <a class="btn btn-outline-secondary" href="{% url 'issue-update' object.id %}">Update</a>
                <a class="btn btn-outline-secondary" href="{% url 'issue-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
            <a href="{% url 'user-issues' object.user %}">{{ object.user }}</a>
            </br>
            <p class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>

        </div>
        {% if object.image %}
        <img src={{ object.image.url }} width="250px"> <br> {% endif %}
        <br>
        <p>{{ object.description}}</p>
        
    </div>


    <div >
		{% if user in object.likes.users.all%}
		<!-- already liked-->
		<a href={% url 'requirement_issue_vote' issue_id=object.pk opition='like' %}> 
		<i class='fas fa-thumbs-up' style='font-size:48px;'></i> <span>{{object.get_total_likes}}</span>
		</a>
		{% else %}
		<!--not liked-->
		<a href={% url 'requirement_issue_vote' issue_id=object.pk opition='like' %}>
			<i class='far fa-thumbs-up' style='font-size:48px;'></i>
		<span>{% if object.get_total_likes  %}{{object.get_total_likes}} {% else %} 0
		{% endif %}</span>
		</a>
		{% endif %}
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		{% if request.user in object.dis_likes.users.all %}
		<a href={% url 'requirement_issue_vote' issue_id=object.pk opition='dis_like' %}>
			<i class="fas fa-thumbs-down" style='font-size:48px;'>
		<span>{{object.get_total_dis_likes}}</span></i>
		</a>
		{% else %}
		<a href={% url 'requirement_issue_vote' issue_id=object.pk opition='dis_like' %}>
			<i class="far fa-thumbs-down" style='font-size:48px;'>
		<span>{% if  object.get_total_dis_likes %}{{object.get_total_dis_likes}}
		{% else %} 0 {% endif %}</span></i>
		</a>
		{% endif %}
	</div>



</article>

<br><br>
<div class="container">
    {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'add_comment_to_post' object.id %}">Add comment</a><br> {% endif %} 
    {% for comment in object.comments.all %}
    <br>
    <div class="row">
        <div class="card border-left-0 border-right-0 border-top-0">
            <img src="{{ comment.user.userprofile.thumbnail.url }}" width="40" height="40" alt="Profile Image" style="border-radius: 50%;"> &nbsp;&nbsp;
            <a class="card-subtitle font-weight-bold" href="{% url 'user-issues' comment.user %}">{{ comment.user }}</a>
            <div class="date text-muted">
                {{ comment.created_date }}
            </div>
            <strong>{{ comment.comment|linebreaks }}</strong>
                    <div >
                        {% if user in comment.likes.users.all%}
                        <!-- already liked-->
                        <a href={% url 'requirement_comment_vote' comment_id=comment.pk opition='like' %}> 
                        <i class='fas fa-thumbs-up'></i> <span>{{comment.get_total_likes}}</span>
                        </a>
                        {% else %}
                        <!--not liked-->
                        <a href={% url 'requirement_comment_vote' comment_id=comment.pk opition='like' %}>
                            <i class='far fa-thumbs-up'></i>
                        <span>{% if comment.get_total_likes  %}{{comment.get_total_likes}} {% else %} 0
                        {% endif %}</span>
                        </a>
                        {% endif %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if request.user in comment.dis_likes.users.all %}
                        <a href={% url 'requirement_comment_vote' comment_id=comment.pk opition='dis_like' %}>
                            <i class="fas fa-thumbs-down">
                        <span>{{comment.get_total_dis_likes}}</span></i>
                        </a>
                        {% else %}
                        <a href={% url 'requirement_comment_vote' comment_id=comment.pk opition='dis_like' %}>
                            <i class="far fa-thumbs-down">
                        <span>{% if  comment.get_total_dis_likes %}{{comment.get_total_dis_likes}}
                        {% else %} 0 {% endif %}</span></i>
                        </a>
                        {% endif %}
                    </div>
                    
                </div>
        </div>
            
    </div>
    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}
</div>

{% endblock content %}