{% extends "header.html"%}
{% block title %}Issue Creator{% endblock %}
{% block content %}


</br>
{% for issue in issues %}

<div class="card shadow p-3 mb-5 bg-white rounded">
	<div style="text-align: inline;">
		<img src="{{ issue.user.userprofile.thumbnail.url }}" width="40" height="40" alt="Profile Image" style="border-radius: 50%;">
		&nbsp;
		<a class="card-subtitle mb-2 text-muted" href="{% url 'user-issues' issue.user.username %}">{{ issue.user }}</a>
	</div>

	<div class="card-body">
		<a class="card-title" style="font-size: 2em;" href="{% url 'issue-detail' issue.id %}">{{ issue.title }}</a>
		</br>
		<small>{{ issue.date_issueed|date:"F d, Y" }}</small>
		</br></br>
		<p class="card-text">{{ issue.description|truncatewords:"30" }}</p>

	</div>
	<a href="{% url 'issue-detail' issue.id %}">Comments: {{ issue.comments.count }}</a>
</div>

{% endfor %}

{% if issues.paginator.num_pages > 1 %}

<!-- start -->
{% include 'issue/_pagination.html' with issues=issues %}
<!-- end -->

{% endif %}


</div>

{% endblock content %}