{% extends "header.html"%}

{% block title %}User Details{% endblock %}

{% block content %} 


{% for issue in issues|slice:":1" %}

</br>
<div class="card shadow  portfolio">
    <div class="bio-image">
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="{{ issue.user.userprofile.image.url }}" alt="image" width="200" height="200"  /></a>
        <h1>{{ issue.user.first_name }} {{ issue.user.last_name }}</h1
    </div>
    <div >
                    <p>Name : {{ issue.user.first_name }} {{ issue.user.last_name }}</p>
                        <br>
               
    </div>


{% endfor %}

<h1 align="left">Posts</h1>
 {% for issue in issues %}

<div class="card shadow p-3 mb-5 bg-white rounded">
    <div style="text-align: inline;">
        <img src="{{ issue.user.userprofile.image.url }}" width="20" height="20" alt=""> &nbsp;
        <a class="card-subtitle mb-2 text-muted" href="{% url 'user-issues' issue.user.username %}">{{ issue.user }}</a>
</div>

<div class="card-body">
    <a class="card-title" style="font-size: 2em;" href="{% url 'issue-detail' issue.id %}">{{ issue.title }}</a>
    </br>
    <small>{{ issue.date_issueed|date:"F d, Y" }}</small>
    </br>
    </br>
    <p class="card-text">{{ issue.description|truncatewords:"30" }}</p>

</div>
<a href="{% url 'issue-detail' issue.id %}">Comments: {{ issue.comments.count }}</a>


<div >
    {% if user in issue.likes.users.all%}
    <!-- already liked-->
    <a href={% url 'requirement_issue_vote' issue_id=issue.pk opition='like' %}> 
    <i class='fas fa-thumbs-up'></i> <span>{{issue.get_total_likes}}</span>
    </a>
    {% else %}
    <!--not liked-->
    <a href={% url 'requirement_issue_vote' issue_id=issue.pk opition='like' %}>
        <i class='far fa-thumbs-up'></i>
    <span>{% if issue.get_total_likes  %}{{issue.get_total_likes}} {% else %} 0
    {% endif %}</span>
    </a>
    {% endif %}
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {% if request.user in issue.dis_likes.users.all %}
    <a href={% url 'requirement_issue_vote' issue_id=issue.pk opition='dis_like' %}>
        <i class="fas fa-thumbs-down">
    <span>{{issue.get_total_dis_likes}}</span></i>
    </a>
    {% else %}
    <a href={% url 'requirement_issue_vote' issue_id=issue.pk opition='dis_like' %}>
        <i class="far fa-thumbs-down">
    <span>{% if  issue.get_total_dis_likes %}{{issue.get_total_dis_likes}}
    {% else %} 0 {% endif %}</span></i>
    </a>
    {% endif %}
</div>


</div>

{% endfor %}
</div>

{% if issues.paginator.num_pages > 1 %}

<!-- start -->
{% include 'issue/_pagination.html' with issues=issues %}
<!-- end -->

{% endif %}

<style>
    .portfolio {
        padding: 6%;
        text-align: center;
    }
    
    .bio-image img {
        border-radius: 50%;
    }
</style>

{% endblock content %}